.container-fluid{
  padding:0;
}

h2{
 color: white;
  background-color: black;
  margin: 0;
  padding: 62px;
  text-align: center;
  font-weight: lighter;
}

.well{
  height: 105vh;
  color: #3c3c3c;
  background-color: #ffffff;
  font-size: 19px;
  padding-top: 52px;
  border-radius: 0;
  box-shadow: 13px -7px 22px -6px rgba(0,0,0,0.2);
}
}